table {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-spacing: 0 12px;
}

th {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 10px;
    color: #969CB3;
}

td {
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: var(--background);  
    padding: 20px 20px;
}

td:first-child {
    border-radius: 7px 0 0 7px;
}


td:last-child {
    border-radius: 0 7px 7px 0;
}

.borrowed-true {
    color: #F94144; 
}

.borrowed-false {
    color: #90BE6D;
}

.editCell {
    padding: 20px 5px 20px 20px;
}

.deleteCell {
    padding: 20px 20px 20px 5px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 4px;
    background-color: #90BE6D;
    border: 0;
    
    transition: filter 0.2s;
}

.edit:hover {
    filter: brightness(0.8);
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 4px;
    background-color: #F94144;
    border: 0;
    
    transition: filter 0.2s;
}

.delete:hover {
    filter: brightness(0.8);
}




